/*TODOS
- backup fonts
- smarter implementation with Bootstrap (re-use existing classes more, start from the scss files)
- legacy browser support
- mobile, tablet supprt*/

body {
  font-family: 'Open Sans';
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

header {
  margin-top: 6em;
  margin-bottom: 6em;
}

nav ul  {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  font-family: 'OpenSans-Semibold';
  font-size: 0.85em;
  color: #1B274E;
}

blockquote {
  font-family: 'OpenSans-SemiboldItalic';
  font-size: 1.3em;
  color: #1B274E;
  text-align: center;
  margin: 4em auto 4em auto;
}

blockquote span {
  padding-bottom: 0.25em;
  border-bottom: 0.5em solid #839AFE;
}

.box {
  border: 1px solid #1B274E;
  padding: 2em;
  margin-bottom: 2em;
}

.clients {
  margin-top: 2em;
}

.portraits {
  margin-top: 2em;
  margin-bottom: 2em;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

main {
  margin-bottom: 3em;
}

main h1 {
  font-size: 2.5em;
  color: #1B274E;
  line-height: 2em;
  text-align: center;
  margin: 1em;
}

main h1 b {
  font-family: 'OpenSans-Bold';
}

main h2 {
  font-family: 'OpenSans-Bold';
  font-size: 1.5em;
  color: #1B274E;
  margin-bottom: 1.5em;
}

main h3 {
  font-family: 'OpenSans-Bold';
  font-size: 1em;
  color: #6380FD;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

main section {
  margin-top: 2em;
  margin-bottom: 2em;
}

main aside {
  font-family: 'Georgia';
  font-size: 0.75em;
  text-align: center;
  color: #FFFFFF;
  background-color: #1B274E;
  padding: 0.75em;
  position: absolute;
  right:-1em;
  bottom: -1em;
}

/*main #work .row:nth-child(odd) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}*/

main p {
  color: #000000;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

main p br {
  line-height: 2em;
}

main hr {
  border-color: #1B274E;
  border-width: 1px;
  margin: 0;
  width: 100%;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main button {
  background: #F3BB12;
  border-radius: 10px;
  border-style: none;
  font-family: 'OpenSans-Bold';
  font-size: 1.5em;
  color: #1B274E;
  padding: 0.25em 2em 0.25em 2em;
}

footer {
  border: 1px solid #1B274E;
  margin-bottom: 6em;
  font-family: 'OpenSans-Italic';
  color: #000000;
}

footer h2 {
  margin: 1em;
}

footer p {
  font-size: 0.8em;
  margin: 2em;
}

footer address {
  font-size: 0.8em;
  margin: 2em;
}

footer ul  {
  margin: 0;
}

footer ul li {
  list-style-type: none;
  background-color: #1B274E;
}

footer ul li:nth-child(even) {
  background-color: #354062;
}

footer ul li a {
  display: flex;
  padding: 2em;
}

footer ul li a img {
  align-items: center;
  justify-content: center;
}

footer h2 {
  font-family: 'OpenSans-Bold';
  font-size: 1.5em;
  color: #1B274E;
}

footer hr {
  opacity: 0.2;
  background: #1B274E;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
}