/*TODOS
- use Bootstrap's navbar
- backup fonts
- smarter implementation with Bootstrap (re-use existing classes more, start from the scss files)
- legacy browser support
- mobile, tablet supprt
- check on multiple browsers/devices*/

@import "../../node_modules/bootstrap/scss/_variables.scss";

$xs-width: map-get($grid-breakpoints, xs);
$sm-width: map-get($grid-breakpoints, sm);
$md-width: map-get($grid-breakpoints, md);
$lg-width: map-get($grid-breakpoints, lg);
$xl-width: map-get($grid-breakpoints, xl);

$dark-blue: #1B274E;

.container {
  @media (min-width: $lg-width) {
    width: 960px;
  }
}

body {
  font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
  border-bottom: 1px solid $dark-blue;

  @media (min-width: 576px) {
    margin-top: 6rem;
    margin-bottom: 6rem;
    border-bottom-style: none;
    padding: 0;
  }

  img {
    padding: 1em;
  }

  a img {
    padding: 1.5rem;
  }

  nav ul  {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      a {
        font-weight: 600;
        font-size: 0.875rem;
        color: $dark-blue;
      }
    }
  }
}

main {
  margin-bottom: 3rem;

  & > h1, & > h2 {
    font-size: 1.625rem;
    line-height: 2.5rem;
    color: $dark-blue;
    text-align: center;
    margin: 2em 1em;

    @media (min-width: 576px) {
      font-size: 2.5rem;
      line-height: 2.875rem;
    }

    b {
      font-weight: bold;
    }
  }

  & > h2 {
    font-weight: 800;
  }

  .quote-wrap {
    text-align: center;
  }
  .quote {
    display: inline-block;
    padding-bottom: 0rem;
    border-bottom: 1rem solid #839AFE;
  }

  blockquote {
    font-weight: 600;
    font-style: italic;
    font-size: 0.9375rem;
    color: $dark-blue;
    text-align: center;
    line-height: 2rem;
    margin: 3rem auto;

    @media (min-width: $md-width) {
      font-size: 1.3125rem;
      margin: 5rem auto;
    }

    span {
      padding-bottom: 0.25rem;
      border-bottom: 0.5rem solid #839AFE;
    }
  }

  .box {
    @media (min-width: $md-width) {
      border: 1px solid $dark-blue;
      padding: 2rem;
      margin-bottom: 2rem;
    }
  }


  #work > .row:nth-child(odd) {

    @media (min-width: $md-width) {

      & > div:first-child {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
      }
    }
  }

  #work > .row:nth-child(even) {

    @media (min-width: $md-width) {

      aside {
        left: -1rem;
        right: unset;
      }
    }
  }

  #work img {
    width: 100%;
    margin: 1rem 0;
  }

  .clients {
    margin-top: 2rem;
  }

  .portraits {
    margin: 2rem 0;
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  section {
    margin-top: 2em;
    margin-bottom: 2em;

    h1 {
      font-weight: bold;
      font-size: 1.5rem;
      color: $dark-blue;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-weight: bold;
      font-size: 1rem;
      color: #6380FD;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  aside {
    font-family: 'Georgia';
    font-size: 0.75rem;
    text-align: center;
    color: #FFFFFF;
    background-color: $dark-blue;
    padding: 0.75rem;
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    right: 0;
    
    @media (min-width: $md-width) {
      left: unset;
      right: -1rem;
      bottom: -1rem;
    }
  }
}

main p {
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

main p br {
  line-height: 2rem;
}

main hr {
  border-color: $dark-blue;
  border-width: 1px;
  margin: 0;
  width: 100%;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main button {
  background: #F3BB12;
  border-radius: 0.5rem;
  border-style: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: $dark-blue;
  padding: 0.25rem 2rem 0.25rem 2rem;
}

footer {
  border: 1px solid $dark-blue;
  margin-bottom: 6rem;
  font-style: italic;
  color: #000000;
}

footer h1 {
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: $dark-blue;
}

footer p {
  font-size: 0.8rem;
  margin: 1rem;
}

footer address {
  font-size: 0.8rem;
  margin: 1rem;
}

footer ul  {
  margin: 0;
}

footer ul li {
  list-style-type: none;
  background-color: $dark-blue;
}

footer ul li:nth-child(even) {
  background-color: #354062;
}

footer ul li a {
  display: flex;
  padding: 2rem;
}

footer ul li a img {
  align-items: center;
  justify-content: center;
}

footer hr {
  opacity: 0.2;
  background: $dark-blue;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
