/*
TODOS
- use Bootstrap's navbar
- mobile, tablet supprt
- replace social icons with svg
- check on multiple browsers/devices
- recheck with w3c validator
- obfuscate email & phone
*/


@import "../../node_modules/bootstrap/scss/_variables.scss";

$xs-width: map-get($grid-breakpoints, xs);
$sm-width: map-get($grid-breakpoints, sm);
$md-width: map-get($grid-breakpoints, md);
$lg-width: map-get($grid-breakpoints, lg);
$xl-width: map-get($grid-breakpoints, xl);

$dark-blue: #1B274E;
$yellow: #F2BB12;

.container {
  @media (min-width: $lg-width) {
    width: 960px;
  }
}

body {
  font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
  border-bottom: 1px solid $dark-blue;

  #header {
    display: flex;
    flex-direction: column;
    padding-right: 0px;

    @media (min-width: $md-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  #header-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  #header-bottom {
    display: flex;
    justify-content: flex-end;
  }

  // a {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  #menu {
    padding: 1rem;
  }

  nav {

    display: flex;
    flex-direction: column;

    a {
      font-weight: 400;
      font-size: 1.5rem;
      color: $dark-blue;
      text-align: right;
      padding: 1rem 4rem;
    }
  }

  @media (min-width: $md-width) {

    border-bottom-style: none;

    nav {

      flex-direction: row;

      a {
        font-size: 0.875rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
      }
    }
  }
}

main {
  margin-bottom: 3rem;

  & > h1, & > h2 {
    font-size: 1.625rem;
    line-height: 2.5rem;
    color: $dark-blue;
    text-align: center;
    margin: 2em 1em;

    @media (min-width: 576px) {
      font-size: 2.5rem;
      line-height: 2.875rem;
    }

    b {
      font-weight: bold;
    }
  }

  & > h2 {
    font-weight: 800;
  }

  .quote-wrap {
    text-align: center;
  }
  .quote {
    display: inline-block;
    padding-bottom: 0rem;
    border-bottom: 1rem solid #839AFE;
  }

  blockquote {
    font-weight: 600;
    font-style: italic;
    font-size: 0.9375rem;
    color: $dark-blue;
    text-align: center;
    line-height: 2rem;
    margin: 3rem auto;

    @media (min-width: $md-width) {
      font-size: 1.3125rem;
      margin: 5rem auto;
    }

    span {
      padding-bottom: 0.25rem;
      border-bottom: 0.5rem solid #839AFE;
    }
  }

  .box {

    // margin-bottom: 2rem;

    @media (min-width: $md-width) {
      border: 1px solid $dark-blue;
      padding: 2rem;
      // margin-bottom: 0;
    }

  }

  #work > .row:nth-child(odd) {

    @media (min-width: $md-width) {

      & > div:first-child {
        order: 1;
      }

      .box:nth-child(2) {
        border-right-width: 0px
      }
    }

  }

  #work > .row:nth-child(even) {

    @media (min-width: $md-width) {

      aside {
        left: -1rem;
        right: unset;
      }

      .box:nth-child(1) {
        border-right-width: 0px
      }
    }
  }

  #work img {
    width: 100%;
    margin: 1rem 0;
  }

  #work .box {
    margin-bottom: 2rem;
  }

  #clients img {
    width: 100%;
  }

  #youwe img {
    width: 100%;
  }

  #youwe > .box:nth-child(1) {
        border-right-width: 0px;

        margin-bottom: 2rem;

        @media (min-width: $md-width) {
          margin-bottom: 0;
        }
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  section {
    margin-top: 2em;
    margin-bottom: 2em;

    h1 {
      font-weight: bold;
      font-size: 1.5rem;
      color: $dark-blue;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-weight: bold;
      font-size: 1rem;
      color: #6380FD;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  aside {
    font-family: 'Georgia';
    font-size: 0.625rem;
    text-align: center;
    color: #FFFFFF;
    background-color: $dark-blue;
    padding: 0.5rem 1.5rem;
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    right: 0;
    
    @media (min-width: $md-width) {
      left: unset;
      right: -1rem;
      bottom: -1rem;
    }
  }
}

main p {
  color: #000000;
}

main hr {
  border-color: $dark-blue;
  border-width: 1px;
  margin: 1.5rem 0;
  width: 100%;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main button {
  background: #F3BB12;
  border-radius: 0.5rem;
  border-style: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: $dark-blue;
  padding: 0.5rem 0rem;
  width: 15rem;
}

footer {
  color: #000000;
  margin-bottom: 6rem;

  @media (min-width: $md-width) {
    border-width: 1px;
    border: 1px solid $dark-blue;
  }
}

footer #footer-top {
  display: flex;
  flex-direction: column;

  @media (min-width: $md-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
  }
}

footer hr {
  border-color: $dark-blue;
  border-width: 1px;
  margin: 0;
  width: 100%;
}

footer h1 {
  font-weight: bold;
  font-size: 1rem;
  color: $dark-blue;
  margin: 1.5rem 0;

  @media (min-width: $md-width) {
    font-size: 1.5rem;
  }
}

footer #contacts {
  display: flex;

  @media (min-width: $md-width) {
    width: 50%
  }
}

footer #contacts a {
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 12% 0;

  @media (min-width: $md-width) {
    padding: 0;
  }
}

footer #contacts a:nth-child(odd) {
  background-color: #354062;
}

footer #footer-bottom {

  @media (min-width: $md-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

footer p, address {
  font-size: 0.8rem;
  margin: 1rem 0;

  @media (min-width: $md-width) {
    margin: 0;
  }
}

footer #footer-bottom-left {

  @media (min-width: $md-width) {
    text-align: right;
  }
}

footer #full-width-hr {
  opacity: 0.2;
  border-color: $dark-blue;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
