/*TODOS
- use Bootstrap's navbar
- backup fonts
- smarter implementation with Bootstrap (re-use existing classes more, start from the scss files)
- legacy browser support
- mobile, tablet supprt
- check on multiple browsers/devices*/

body {
  font-family: 'Open Sans';
}

header {
  border-bottom: 1px solid #1B274E;

  @media (min-width: 576px) {
    margin-top: 6rem;
    margin-bottom: 6rem;
    border-bottom-style: none;
    padding: 0;
  }
}

header img {
  padding: 1em;
}

header a img {
  padding: 1.5rem;
}

nav ul  {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  font-weight: 600;
  font-size: 0.875rem;
  color: #1B274E;
}

.container {
  @media (min-width: 992px) {
    width: 960px;
  }
}

blockquote {
  font-weight: 600;
  font-style: italic;
  font-size: 1.3125rem;
  color: #1B274E;
  text-align: center;
  margin: 4rem auto 4rem auto;
}

blockquote span {
  padding-bottom: 0.25rem;
  border-bottom: 0.5rem solid #839AFE;
}

.box {
  border: 1px solid #1B274E;
  padding: 2rem;
  margin-bottom: 2rem;
}

.clients {
  margin-top: 2rem;
}

.portraits {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

main {
  margin-bottom: 3rem;
}

main > h1, main > h2 {
  font-size: 1.625rem;
  line-height: 2.5rem;
  color: #1B274E;
  text-align: center;
  margin: 2em 1em;

  @media (min-width: 576px) {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
}

main > h1 b {
  font-weight: bold;
}

main > h2 {
  font-weight: 800;
}

main section {
  margin-top: 2em;
  margin-bottom: 2em;
}

main section h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1B274E;
  margin-bottom: 1.5rem;
}

main section h2 {
  font-weight: bold;
  font-size: 1rem;
  color: #6380FD;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main aside {
  font-family: 'Georgia';
  font-size: 0.75rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #1B274E;
  padding: 0.75rem;
  position: absolute;
  right: -1rem;
  bottom: -1rem;
}

/*main #work .row:nth-child(odd) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}*/

main p {
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

main p br {
  line-height: 2rem;
}

main hr {
  border-color: #1B274E;
  border-width: 1px;
  margin: 0;
  width: 100%;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main button {
  background: #F3BB12;
  border-radius: 0.5rem;
  border-style: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #1B274E;
  padding: 0.25rem 2rem 0.25rem 2rem;
}

footer {
  border: 1px solid #1B274E;
  margin-bottom: 6rem;
  font-style: italic;
  color: #000000;
}

footer h1 {
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #1B274E;
}

footer p {
  font-size: 0.8rem;
  margin: 1rem;
}

footer address {
  font-size: 0.8rem;
  margin: 1rem;
}

footer ul  {
  margin: 0;
}

footer ul li {
  list-style-type: none;
  background-color: #1B274E;
}

footer ul li:nth-child(even) {
  background-color: #354062;
}

footer ul li a {
  display: flex;
  padding: 2rem;
}

footer ul li a img {
  align-items: center;
  justify-content: center;
}

footer hr {
  opacity: 0.2;
  background: #1B274E;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
